__pycache__/
*.pyc
*.pyo
*.egg
*.egg-info
*.log
local_settings.py
db.sqlite3
instance/
.env
.tox
log.txt
coverage.xml
nosetests.xml
build/
dist/
*.build
*.spec
*.mo
*.pot
.DS_Store
.mypy_cache
.pytest_cache
config.yaml